nav.main-nav {
    border: none !important;

    .item {
        font-family: "Oswald";
        font-size: 1.1rem;
        letter-spacing: 0.5px;

        i{
            margin-right: 5px;
        }
    }

    .header.item {
        font-size: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
}